extends: default

ignore: |
  **/*sops*
  **/*secrets*

rules:
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 1
  document-start: disable
  truthy:
    allowed-values:
      - "true"
      - "false"
      - "on"
