window.Notch {
    background-color: transparent;
    label {
        background-color: transparent;
        font-size: 15px;
        padding: 10px 10px;
    }

    .container-box {
        background-color: black;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}